<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/regular.css" integrity="sha384-OEIzojYBMrmz48aIjVQj7VG38613/sxpP58OW9h5zBYC7biGFlv9tyu5kWmaAYlF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/brands.css" integrity="sha384-BCEeiNUiLzxxoeYaIu7jJqq0aVVz2O2Ig4WbWEmRQ2Dx/AAxNV1wMDBXyyrxw1Zd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous">

  </head>
  
  <body >


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://pa1.narvii.com/6475/63d4e3f27c4dafde74734ff73e866d9425ca721e_hq.gif" alt="">
            <div class="card-body">
              <h3 class="card-title"> Assédio Virtual </h3>
              
              <p class="card-text"> Existem várias formas de assédio virtual: ser-se alvo de insultos ou ser-se envergonhado deliberadamente por alguém online, receberem-se ameaças físicas, ser-se assediado sexualmente ou ser-se perseguido. As mulheres são as principais vítimas de assédio sexual e de perseguição online. </p>

              <p class="card-text"> O assédio virtual pode se manifestar de diferentes formas, como o cyberstalking (quando as redes sociais são usadas para perseguir a vítima). Também há a pornografia de vingança (quando fotos íntimas de uma pessoa são compartilhadas sem o seu consentimento) e a violência moral. De acordo com um estudo feito pelo Pew Research Center, os casos de assédio só aumentam na internet. </p>

              <p class="card-text"> As redes sociais são os locais com maior número de incidentes reportados, seguindo-se as caixas de comentários, os jogos online, as contas pessoais de e-mail, os fóruns, os sites e aplicações de encontros. </p>

              <p class="card-text"> Muitos dos atacantes fazem tudo de forma escondida, pois pensam que ninguém irá descobrir as suas práticas, sendo comum, por exemplo, pedirem às vítimas que não contem nada a ninguém. </p>

              <p class="card-text"> O Facebook criou outras ferramentas para detectar casos de asédio. Entre elas um bloqueio mais eficiente dos assediadores. Assim, quando eles decidem criar uma nova conta após serem banidos, a plataforma cruza os dados do usuário, como o endereço do IP. O objetivo é impedir que ele envie mensagens ou solicitações de amizade para a vítima que já o bloqueou anteriormente. Além disso, também existe a função ignorar mensagens no Messenger. A ferramenta foi criada para evitar o contato com alguém sem ter que bloquear o remetente. </p>

              <p class="card-text"> De todos os comportamentos ofensivos, agressivos e difamadores no mundo virtual, 95% têm como alvo as mulheres. O dado é resultado de um estudo feito pela Organização das Nações Unidas (ONU).</p>

              <p class="card-text"> Enquanto muitos encaram a internet como “uma terra sem lei”, a maioria das plataformas mostra que não é bem assim. No WhatsApp, por exemplo, tudo que você disser pode ser usado contra você. Quem manda mensagens com teor ofensivo ou abusivo pode ser responsabilizado. Isso ocorre tanto na esfera criminal quanto na civil. </p>

              <p class="card-text"> Dessa forma, quando o conteúdo é disseminado em grupos de conversas, mesmo aqueles que se mantêm calados podem ser enquadrados como cúmplices. </p>

              <p class="card-text"> Lembre-se de que o consentimento e o respeito pelo espaço do outro são a chave: é inadmissível que alguém aborde outra pessoa virtualmente insistentemente com assuntos sexualmente explícitos ou com mensagens frequentes, mesmo depois de ter recebido um “não” ou de não receber qualquer resposta.  </p>

              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              O que pode fazer caso seja vítima de assédio  virtual?
            </div>
            <div class="card-body">
              
              <ul>
                
                <li class="card-text"> Bloquear imediatamente ou deixar de ser amigo dessa pessoa nas redes sociais; </li>
                <li class="card-text"> Reportar essa pessoa na rede social (veja aqui como fazer no
                <a href="https://www.facebook.com/help/116326365118751"> Facebook</a> e no
                <a href="https://www.facebook.com/help/instagram/547601325292351"> Instagram </a> );
                </li>

                <li class="card-text"> Fazer queixa ao responsável do site ou blog; </li>
                <li class="card-text"> lterar as definições de privacidade na rede social; </li>
                <li class="card-text"> Comunicar às autoridades policiais (não apague as mensagens ou e-mails e faça capturas de ecrã das mensagens temporárias, pois servirão de prova); </li>


              </ul>

            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/nN2zER-dDRI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>

    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

<!-- botão voltar ao topo -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-sm hidden" id="mini-fab">
        <a href="#" class="btnn btn-warning btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Other" title="" id="autre">
            <svg style="width:10px;height:10px" viewBox="0 0 24 24">
              <i class="fas fa-angle-up"></i>
            </svg>
          
        </a>
    </div>
  </div>
</div>

  </body>
 

</html>