<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/regular.css" integrity="sha384-OEIzojYBMrmz48aIjVQj7VG38613/sxpP58OW9h5zBYC7biGFlv9tyu5kWmaAYlF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/brands.css" integrity="sha384-BCEeiNUiLzxxoeYaIu7jJqq0aVVz2O2Ig4WbWEmRQ2Dx/AAxNV1wMDBXyyrxw1Zd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://www.centralserver.com.br/blog/wp-content/uploads/2017/06/ataques-ddos.png" alt="">
            <div class="card-body">
              <h3 class="card-title">DDoS</h3>
              
              <p class="card-text"> DDoS é o acrônimo para Distributed Denial of Service que, traduzido do inglês, significa algo aproximado a Negação Distribuída de Serviço, termo que evidencia a natureza coordenada destes tipos de ataques maliciosos.  </p>

              <p class="card-text"> Os ataques de DDoS tentam derrubar sites ou redes inteiras sobrecarregando-as com tráfego proveniente de milhares de computadores infectados, que fazem parte de redes conhecidas como botnets. Os sites de bancos, notícias e até de governos são os principais alvos de ataques de DDoS, cujo objetivo é torná-los indisponíveis para os usuários. Além disso, como tanto o alvo quanto os computadores usados na botnet são vítimas, os usuários comuns se tornam danos colaterais do ataque, sofrendo lentidão ou travamento dos seus PCs enquanto trabalham involuntariamente para o hacker. </p>

              <p class="card-text"> Os ataques de DDoS geralmente não têm como alvo usuários comuns e sim servidores web importantes, como de bancos, portais de pagamento com cartões de crédito e sites de governos. Os hackers por trás de um ataque de DDoS podem ter como motivação ganhos financeiros, vingança ou simplesmente o desejo de provocar desordem. Em um ataque, os sites alvejados são sobrecarregados e seus serviços on-line ficam indisponíveis para os usuários, que podem perder a confiança ou a paciência com a organização e procurar outras. O resultado é a perda de receita, além de danos à reputação das organizações. </p>

              <p class="card-text"> Um ataque DDoS exige a cooperação de vários atacantes para ser classificado como tal. No caso, um computador comandado por uma pessoa má intencionada é capaz de controlar vários outros computadores infectados para direcionar uma rede de ataques a um alvo muito específico. </p>

              <p class="card-text"> Como resultado, os servidores de um site atacado simplesmente não aguenta a demanda das requisições de acesso e simplesmente sai do ar, impossibilitando qualquer tipo de acesso ou interação com ele. </p>

              <b class="card-text"> Tipos de ataques DDoS </b>

              <b class="card-text"> Ataques volumosos ou Flood </b>

              <p class="card-text"> São os tipos mais básicos e comuns de ataques DDoS. Também chamados de Flood (enchente ou infestação, do inglês), eles simplesmente enviam solicitações de acesso a um site em larga escala, congestionando a sua largura de banda e deixando-o inacessível na internet. </p>

              <b class="card-text"> UDP Flood </b>
              <p class="card-text"> O UDP Flood é um tipo de ataque DDoS que inunda portas aleatórias de um alvo com pacotes UDP (User Datagram Protocol). O UDP é um protocolo de comunicação que serve para enviar muitos pacotes de informações e receber respostas de uma forma mais rápida. </p>

              <p class="card-text"> A partir do momento em que um servidor recebe uma avalanche de informações e precisa continuamente checar sua integridade e respondê-las de volta ao solicitante, ele vai ficando mais lento até sobrecarregar por completo e ficar indisponível para acesso. </p>

              <b class="card-text"> NTP Flood </b>
              <p class="card-text"> O NTP Flood é um tipo de ataque DDoS em que os invasores enviam pacotes válidos, porém falsificados, de NTP (Network Time Protocol) a um alvo de destino. Tudo acontece a uma taxa muito alta de pacotes originados de um grupo muito grande de endereços de IP. </p>

              <p class="card-text"> Como estas solicitações parecem ser verdadeiras, os servidores NTP da vítima continuam tentando responder à grande quantidade de solicitações recebidas.  </p>

              <p class="card-text"> Os recursos dessa rede, então, se esgotam por não suportarem a demanda, entram num fluxo de reinicialização repetitiva do sistema e ele simplesmente fica fora do ar. </p>

              <b class="card-text"> SYN Flood </b>
              <p class="card-text"> Os ataques DDoS do tipo SYN Flood afetam diretamente o processo de comunicação TCP de três vias, que inclui um cliente, um host e um servidor. Esse processo é popularmente conhecido como “Aperto de Mão de Três Vias” (Three-Way Handshake, do inglês). </p>

              <p class="card-text"> Na comunicação TCP, o cliente inicia uma nova sessão de comunicação gerando um pacote SYN. O papel do host nessa operação é verificar as sessões até que elas sejam fechadas pelo contato do cliente com o servidor.  </p>
              <p class="card-text"> O SYN Flood acontece quando o atacante envia pacotes SYN para o alvo, como um servidor de destino. Só que esses envios acontecem a partir de IPs falsos, que podem estar mascarados na operação. </p>

              <b class="card-text"> VoIP Flood </b>
              <p class="card-text"> Esse tipo de ataque DDoS é uma variação do UDP Flood. Mas em vez de bombardear portas aleatórias, o atacante envia um número gigantesco de solicitações falsas, originadas de vários IPs diferentes, especificamente atingindo protocolos do tipo VoIP. </p>
              <p class="card-text"> Quando os servidores que atuam no sistema de comunicação VoIP recebem essa grande demanda de solicitações, que são um combinado de pedidos falsos e verdadeiros, os recursos são sugados muito rapidamente, comprometendo toda a infraestrutura de acesso.  </p>
              <p class="card-text"> O servidor, então, procura uma solução inicial, que é o seu reinício automático. Como as solicitações não param de chegar, ele começa a ficar lento e, com o tempo, muito sobrecarregado, ocasionando o esgotamento de toda sua largura de banda. </p>

              <b class="card-text"> POD (Ping of Death) </b>
              <p class="card-text"> Também conhecido como Ping da Morte (Ping of Death, do inglês), o POD é um tipo de ataque DDoS que afeta diretamente os protocolos de IP. Nessa situação, o atacante envia a quantidade máxima de pacotes de dados do que os tipos de IPs conseguem suportar. </p>

              <p class="card-text"> O POD atua com solicitações ping com um tamanho muito grande de pacotes de IP e com uma frequência de requisições também muito altas (milhares de vezes por segundo).  </p>

              <p class="card-text"> Geralmente, um ping tem 64 bytes (65B) de dados. O POD tem uma quantidade de pacotes de IP tão grandes que supera facilmente esse limite. O alvo então é incapaz de processar os dados do pacote, resultando na sobrecarga e na falha do sistema. </p>


            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um DDoS?
            </div>
            <div class="card-body">

             <b class="card-text"> Prepare-se para todas as eventualidades </b>
             <p class="card-text"> Mesmo que você tenha tomado inúmeras medidas de segurança, nenhum local é completamente impenetrável a um ataque DDoS. Portanto, você deve se preparar para todas as eventualidades, discutindo os possíveis problemas com equipes de TI e procurar aconselhamento de seu provedor de hospedagem. Servidores de 100 TB na nuvem costumam responder melhor quando envolve segurança de ataques DDoS. </p>
             <p class="card-text"> Por ter um plano de ação ao ser atingido, que não só identifica os buracos técnicos e rotas de fuga, mas também estabelece papéis e tarefas para sua equipe, é possível diminuir negativamente um ataque DDoS. </p>

             <hr>
             <b class="card-text"> Identifique o tipo de ataque o mais rápido possível </b>
             <p class="card-text"> Um software de prevenção de DDoS que dispõe de sofisticados algoritmos capazes de identificar as diferentes fontes de tráfego que seu site está recebendo pode ajudar a identificar o tipo de ataque o mais rapidamente possível. Isso permite que você filtre bots maliciosos, permitindo o tráfego legítimo. Além disso, é possível determinar se o ataque é de um hacker ou de uma equipe profissional.  </p>

             <hr>
             <b class="card-text"> Mantenha a calma e continue </b>
             <p class="card-text"> Em caso de um ataque, tente manter a calma e continuar. Aplique todos os esforços para manter os seus serviços em execução e informe os clientes sobre o que está acontecendo. Através de um plano de contingência coerente, sua resposta deve ser suficiente para lidar com a situação. </p>

             <hr>
             <b class="card-text"> Aprenda com o ataque </b>
             <p class="card-text"> Após diagnosticar o ataque, comunicar os clientes e resolver a situação, é preciso analisar dados relevantes para impedir que a mesma coisa aconteça novamente. Por exemplo, você pode ser capaz de identificar os gargalos da rede e, em seguida, escolher uma cadeia de infraestrutura mais adequada e durável. </p>
             <p class="card-text"> Proteger o site de sua empresa contra ataques DDoS é uma responsabilidade permanente e que constantemente requer atenção. Portanto, não se iluda pensando que só porque você lidou com um ataque anteriormente você será capaz de lidar com outros. </p>

      
             <hr>
             <b class="card-text"> Remoção do DDoS </b>
             <p class="card-text"> Como os ataques de DDoS raramente visam indivíduos, não é muito provável que sua rede pessoal seja sobrecarregada por uma botnet. Ainda assim, é uma boa ideia assegurar que seu PC não esteja sendo obrigado a cumprir os comandos de um hacker. Por isso, recomendamos a instalação de um antivírus leve e poderoso. </p>
             
             
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/MZEYzYDJAkQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->
        
      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>





    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-sm hidden" id="mini-fab">
        <a href="#" class="btnn btn-warning btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Other" title="" id="autre">
            <svg style="width:10px;height:10px" viewBox="0 0 24 24">
              <i class="fas fa-angle-up"></i>
            </svg>
          
        </a>
       
    </div>
  </div>
</div>


  </body>

</html>