<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://www.easyremovemalware.com/wp-content/uploads/2017/07/Stealing-your-info-is-easy1-1024x569.png" alt="">
            <div class="card-body">
              <h3 class="card-title">Keylogger</h3>
              
              <p class="card-text"> Keylogeers se refer a usar um software que grava tudo que você clica em seu teclado. O programa então envia o arquivo de log para um servidor específico, onde bandidos podem ler qualquer informação que você tenha adicionado, incluindo senhas, números de cartão de crédito, mensagens instantâneas, e-mails, endereço de e-mail e URLs de sites.</p>
              <p class="card-text"> Keyloggers são um tipo de software de monitoramento de atividade que é instalado em seu computador sem seu conhecimento. As maneiras mais comuns de fazer isso são através de phishing, engenharia social, acoplar o keylogger a outros softwares ou download em sites de compartilhamento de arquivos ou instalando-o quando você abre um anexo a um e-mail.</p>
              <p class="card-text"> Detectar um keylogger é difícil pois eles foram feitos para ficarem escondidos. Mas há alguns sinais para serem identificados, como o navegador ficando mais lento que o usual, mouse ou teclado "colados" ou letras não aparecendo na tela quando tecladas, ou mensagens de erros aparecendo ao acessar gráficos ou páginas na internet.  </p>
              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um Keylogger?
            </div>
            <div class="card-body">
              
              <b class="card-text"> Instale um anti-spyware de confiança</b>
              <p class="card-text">Instale uma solução de anti-virus paga e mantenha-a atualizada. </p>
             
              <hr>
              <b class="card-text"> Recuse abrir qualquer tipo de arquivo suspeito vindo de e-mail</b>
              <p class="card-text"> Não abra provedores de e-mail, incluindo o Gmail. Denuncie uma mensagem suspeita no Gmail ajudará a bloquear o envio de mais e-mails por parte desse usuário.</p>
            
             <hr>
             
             <b class="card-text"> Evite utilizar computadores públicos </b>
             <p class="card-text">Computadores públicos são os principais alvos não só de keyloggers, mas de outros vírus. Evite usá-los caso suspeite de algo. </p>

             <hr>
             
             <b class="card-text"> Use um teclado virtual </b>
             <p class="card-text"> Quando for usar Netbanking ou serviços bancários, prefira usar os teclados virtuais do próprio site ou do Windows (Iniciar > Todos os programas > Acessórios > Acessibilidade > Teclado Virtual) </p>

             <hr>
             <b class="card-text"> Remoção do Keylogger </b>
             <p class="card-text"> Embora você poderia tentar manualmente procurar por alguns softwares escondidos em seu diretório e deletá-lo, isso consumiria muito do seu tempo e seria ineficiente. A melhor maneira de se livrar de keyloggers é usando um software anti-keylogging, como o que é encontrado em um bom antivírus e suíte de segurança para internet, para escanear seu sistema em busca de softwares maliciosos e removê-los para você. </p>

            
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/gKtinCMOIno" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>