<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>
 
  <body >


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://conteudo.imguol.com.br/p/pp/2017/seguranca/sos/curiosidades/materia/408_dicascuriosidades_materia.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title"> Páginas falsas </h3>
              
              <p class="card-text"> As páginas falsas são uma forma de fraude eletrónica que tem o objetivo de adquirir informações pessoais, ou envergonhar alguém indefeso. Também podemos chamar phishing a estas páginas e os responsáveis por elas tentam que os seus visitantes coloquem os seus dados. As páginas falsas mais comuns são as páginas de banco pois são talvez as mais utilizadas e assim são mais as vitimas que são enganadas sem se aperceberem. Para se proteger, sempre que for aos seus dados pessoais tente usar a navegação InPrivate que os navegadores oferecem, ficando mais seguro. </p>

              <p class="card-text"> Ao acessar uma página onde você precisa inserir seus dados procure sempre verificar se o site utiliza um Certificado SSL, assim você tem a garantia de que a troca de informações entre você e o servidor está protegida. Você pode ainda utilizar janelas anônimas do navegador todas as vezes que for inserir suas informações em uma página. </p>

              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um Páginas falsas?
            </div>
            <div class="card-body">
              
              <b class="card-text"> Utilize senhas fortes </b>
              <p class="card-text"> Sempre que você se cadastrar em algo na internet é importante que você utilize senhas fortes com combinação de letras, números e caracteres especiais, assim você não facilita a vida daqueles mal-intencionados que querem apenas te espionar ou até mesmo te prejudicar. </p>
              <p class="card-text"> É legal também alterar a sua senha periodicamente para ter a garantia de que ninguém esteja te espionando, o tempo recomendado para você permanecer com a mesma senha é de até 72 dias, então procure alterá-la a cada dois meses mais ou menos. </p>
             
              <hr>
              <b class="card-text"> Não acesse sites não confiáveis </b>
              <p class="card-text">  Caso você receba algum alerta do navegador antes de acessar algum site, procure não passar adiante por mais que a informação que você procura possa estar nessa página, pois estes alertas aparecem apenas quando o site não tem uma conexão segura. </p>
              <p class="card-text"> Existem outras ocasiões que podem tornar um site não confiável, como pedir para fazer o download de algum programa antes de efetuar algum tipo de ação, ter o url diferente do nome do site ou abrir vários pop-ups com anúncios ou banners. </p>

              <hr>
              <b class="card-text"> Mantenha o seu navegador sempre atualizado </b>
              <p class="card-text"> Manter o navegador sempre atualizado é importante porque cada atualização que sai são corrigidas novas falhas de segurança, essas falhas podem e vão ser exploradas por pessoas mal-intencionadas caso você não adquira a atualização para corrigir isso. O mesmo vale para o seu sistema operacional e antivírus. </p>

             <hr>
             <b class="card-text"> Sempre faça Logout </b>
             <p class="card-text">Toda vez que você fizer login em alguma página como redes sociais, e-mail, portal de notícias entre outros, procure clicar no botão de Sair (Sair, Desconectar, Encerrar, etc) antes de fechar a página pois o seu login fica salvo nos Cookies da sessão, e caso alguém abra a página pouco tempo depois de você pode acessar suas informações, porque para o servidor você ainda não efetuou o logout. </p>

            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/tUcsKASN8F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>

    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>
 
</html>