<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://media.kasperskydaily.com/wp-content/uploads/sites/92/2013/06/06050546/rootkit.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Rootkit</h3>
              
              <p class="card-text"> Rootkit é um software, na maioria das vezes malicioso, criado para esconder ou camuflar a existência de certos processos ou programas de métodos normais de detecção e permitir acesso exclusivo a um computador e suas informações. O sistema operacional Linux/Unix tem relação com o início desse software. Ele funciona como um backdoor, que significa uma porta em que o usuário, bem ou mal intencionado, pode entrar e sair livremente, fazendo o que bem entender sem que os mecanismos tradicionais de antivírus e defesas do computador inibam essa ação.  </p>

              <p class="card-text"> "Root" é a definição usada para os usuários que possuem o controle total de um computador. Juntando-se o termo "root" com "kit" obtém-se o kit que permite acessar de maneira completa uma máquina. </p>

              <p class="card-text"> O rootkit intercepta os dados que são requisitados e faz uma filtragem dessa informação quando algum sistema operacional efetua um pedido de leitura de um arquivo, deixando o sistema ler apenas os arquivos que não estão infectados. Por isso, o antivírus instalado na máquina ou outra ferramenta de segurança do computador não consegue detectar alguma ameaça ou arquivo malicioso. </p>
              
              <p class="card-text"> Um computador pode adquirir esse tipo de software malicioso de diversas maneiras. No entanto, o modo mais comum é por meio de algum cavalo de troia ou algum anexo ou link de um email. Também, alguns sites podem instalar arquivos indevidos em seu computador que contenham um rootkit. Por exemplo, é possível que ao instalar um plug-in no seu navegador ou mesmo um programa em sua máquina que sejam suspeitos, um rootkit esteja escondido entre alguns arquivos e acabe infectando o seu equipamento. </p>

              <p class="card-text"> No entanto, nem sempre os rootkits são instalados com finalidades negativas. Rootkits corretos podem ser instalados juntamente com aplicativos legítimos, a fim de assumirem funções que melhorem o serviço prestado pelo programa. </p>
              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um Rootkit?
            </div>
            <div class="card-body">

             <b class="card-text"> Instale um programa anti-vírus </b>
             <p class="card-text"> Versões pagas incluem Norton, McAfee, F-Secure e Sophos. Versões gratuitas incluem AVG, Avast, Comodo, BitDefender e o Avira Anti Vir. Certifique-se de manter as suas definições de vírus atualizadas e executar uma verificação completa semanalmente. </p>

             <hr>
             <b class="card-text"> Instale um programa anti-spyware </b>
             <p class="card-text"> Ad-Aware SE, Windows Defender, Malwarebytes e o Spybot Search and Destroy focam em malwares de internet e spywares que geralmente são ignorados pela maioria dos anti-vírus. Assim como os anti-vírus, mantenha-o atualizado e execute uma verificação completa semanalmente. </p>

             <hr>
             <b class="card-text"> Utilize um Firewall </b>
             <p class="card-text"> Mantenha o seu Firewall do Windows habilitado (cheque no Centro de Segurança do Windows nas configurações do mesmo) ou instale algum programa de firewalll confiável para lhe ajudar a bloquear tráfego de internet não desejado. </p>


             <hr>
             <b class="card-text"> Remoção do Rootkit </b>
             <p class="card-text"> Um software antivirus é capaz de detectar comportamentos de rootkits. Ao escanear por rootkits, a maioria dos programas vão suspender qualquer rootkit, mas geralmente o rootkit precisa ser deletado manualmente. </p>
            
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/shJ6Fup0F7M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>