<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://www.bitcoinbrasil.com.br/wp-content/uploads/2018/02/bb-roubo-de-identidade-03-1.png" alt="">
            <div class="card-body">
              <h3 class="card-title">Roubo de Identidade</h3>
              
              <p class="card-text"> O roubo de identidade é uma prática comum na internet. Isso acontece quando alguém frauda perfis para ter algum tipo de vantagem e usa as informações de uma conta falsa para, por exemplo, abrir um cadastro em lojas e até fazer transações bancárias. </p>

              <p class="card-text"> Há dois tipos de roubo de identidade. O primeiro envolve o uso de suas informações pessoais pelo ladrão para abrir contas em seu nome, como de cartão de crédito ou telefone celular. No segundo, o ladrão utiliza suas informações para obter acesso às suas contas e gastar o seu dinheiro antes que você perceba que algo está errado. A internet facilitou bastante o roubo de identidade. Agora é muito mais fácil acessar os dados pessoais e acumular gastos enormes em compras on-line.  </p>

              <p class="card-text"> Na internet, os ladrões podem usar todo tipo de manobra desonesta para obter acesso a seus dados pessoais. Entre elas está a disseminação de vírus para infectar seu computador, o envio de e-mails de phishing para enganá-lo e fazer com que você revele suas senhas ou outras informações, a violação das suas atividades on-line e da sua digitação, e até mesmo o monitoramento da rede para capturar seus dados mais pessoais e importantes. </p>

              <p class="card-text"> Infelizmente, o primeiro sinal de roubo de cartão de crédito geralmente acontece quando você recebe a primeira fatura ou é avisado que sua conta foi esvaziada. Em esquemas complexos, os fraudadores usam seu telefone celular para ligar para números especiais de alto custo em outros países, recebendo uma comissão da operadora desses números. Em casos extremos, mas cada vez mais comuns, você pode descobrir que se tornou uma vítima de roubo de identidade apenas quando um cobrador bater à sua porta reclamando pagamentos de compras que você nunca fez. </p>
              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar o Roubo de Identidade?
            </div>
            <div class="card-body">
             <b class="card-text"> Proteja seu cartão de crédito e informação bancária </b>
             <p class="card-text"> Seus números de cartão de crédito e contas bancárias são de vital importância e devem ser mantidos privados. Você pode perder tudo, ou despertar com uma montanha de dívidas, se sua informação financeira cair em mãos equivocadas. Não informe o número do seu cartão de crédito ou conta bancária a qualquer site ou serviço que pareça pouco confiável. Controle suas contas para identificar atividade suspeita e imediatamente comunique-se com sua companhia de cartão de crédito ou banco para reportar qualquer possível fraude. Finalmente, proteja suas senhas do banco e as troque regularmente – e tenha certeza de sempre olhar o seu perfil de crédito e extrato bancário. </p>

             <hr>
             <b class="card-text"> Mantenha em segredo sua informação privada </b>
             <p class="card-text"> Em um mundo dominado pelos meios de comunicação social, muitos de se sentem tentados a compartilhar muitas coisas a respeito de si mesmos. Entretanto, é importante, não compartilhar muito. Informação, como seus endereços e números de telefone provavelmente devem permanecer privadas ou compartilhada só com pessoas de confiança. Se limite a compartilhar nas redes sociais unicamente informação que daria para um total desconhecido de forma tranquila. </p>

             <hr>
             <b class="card-text"> Proteja sua rede sem fio </b>
             <p class="card-text"> Isto não preocupa umita gente, mas é extremamente importante. Deixando uma rede sem fio aberta (em outras palavras, sem proteção WPA e senha), você a deixa vulnerável ao roubo de identidade. Permitir a estranhos utilizar sua conexão Wi-Fi pode lhes outorgar acesso à informação sobre os sites que visita. Os ladrões podem criar um perfil seu falso e também daqueles que utilizam sua rede – e podem usar seu nome de usuário e senha para sites que não são bem encriptados. A melhor solução para evitar este tipo de invasão de privacidade e o possível roubo de identidade é proteger sua rede sem fio estabelecendo uma senha segura. </p>

             <hr>
             <b class="card-text"> Escolha senhas difíceis e troque-as regularmente </b>
             <p class="card-text"> Uma das formas mais fáceis para evitar o roubo de identidade é tomar cuidado com suas senhas. Muita gente comete o engano de usar a mesma senha para múltiplos sites. Caso o ladrão de identidade descubra uma senha, ele provavelmente tentará usar essa mesma senha em vários sites, e será muito fácil acessar uma enorme quantidade de informação valiosa a seu respeito. Outro erro comum é deixar as senhas guardadas em um arquivo no computador ou, pior ainda, numa nuvem. Se alguém acessar a sua conta em seu disco rígido ou na nuvem, então terão todas suas senhas e será capaz de roubar sua informação. </p>

              <hr>
              <b class="card-text">Não envie sua senha por e-mail e não a compartilhe com outros </b>
              <p class="card-text">Suas senhas são a chave para suas contas e serviços on-line e, assim como em sua vida off-line, deve-se ter cuidado para quem você dá suas chaves. Sites e serviços legítimos não pedirão que você envie suas senhas por e-mail. Portanto, não responda se você receber pedidos de suas senhas para sites on-line.</p>

              <hr>
              <b class="card-text">Preste muita atenção quando for solicitado a fazer login on-line</b>
              <p class="card-text"> Verifique se há sinais sobre sua conexão com o site.

              Primeiro, olhe para a barra de endereços em seu navegador para ver se o URL parece verdadeiro. Você também deve verificar se o endereço começa com "https://", o que indica que sua conexão com o site é criptografada e mais resistente a invasões ou adulterações. Alguns navegadores também incluem um ícone de cadeado na barra de endereços ao lado do "https://" para indicar mais claramente que sua conexão é criptografada e que você está conectado de forma mais segura. </p>

            <p class="card-text"> Sempre desconfie de qualquer mensagem ou site que peça suas informações pessoais, ou mensagens que se referem a uma página da Web desconhecida pedindo qualquer um dos seguintes detalhes:
              </p>
              <ul>
              <li class="card-text">Nomes de usuário</li>
              <li class="card-text"> Senhas</li>
              <li class="card-text"> Números de CPF</li>
              <li class="card-text">Números de contas bancárias</li>
              <li class="card-text">Números de identificação pessoal</li>
              <li class="card-text">Números inteiros de cartões de crédito</li>
              <li class="card-text">O nome de solteira de sua mãe</li>
              <li class="card-text">Seu aniversário</li>
              </ul>

             <hr>
             <b class="card-text"> Recuperar Roubo de Identidade </b>
             <p class="card-text"> Dependendo do escopo do roubo e da velocidade com que é remediado, os danos provocados podem ser controlados ou ser grandes demais. Se você puder provar que sua identidade foi roubada e notificar o banco imediatamente, às vezes é bem fácil recuperar o dinheiro e retomar sua vida. Contudo, em outros casos, não é tão simples assim. Por exemplo, sua avaliação de crédito pode ser comprometida por vários anos e/ou pode não ser possível convencer o banco de que você foi vítima de um crime. Por isso, a melhor defesa contra o roubo de identidade é usar a internet com bom senso e segurança e manter seu computador protegido. </p>
            
             </div>
            </div>


             <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/1gN50DXXYtg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>


          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>


