<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>


  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://ittrend.am/wp-content/uploads/2018/05/Browser-Hijackers-590x350.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Sequestrador de Navegadores</h3>
              
              <p class="card-text">Um sequestrador de navegador é um programa de malware que altera as configurações do seu navegador e redireciona você a websites que você não tinha intenções de visitar.
              Como o próprio nome diz, um sequestrador de navegador essencialmente assume o controle das configurações do seu navegador e causa problemas ao seu computador. </p>

              <p class="card-text"> Muitos sequestros de navegadores ocorrem através de um software add-on, também conhecido como extensões de navegadores, objetos de ajuda do navegador ou barras de ferramentas. Geralmente, esses itens podem melhorar sua navegação em um site ao oferecer conteúdos interativos, como animações. Entretanto, alguns softwares add-on podem congelar seu computador ou apresentar conteúdos que você não deseja, como pop-ups de propaganda. </p>

              <p class="card-text"> A concepção dos criadores do add-on é vender os cliques que o usuário faz nessas páginas, circunstância que lhe gera lucro. </p>

              <p class="card-text"> Alguns dos efeitos da instalação dos add-on é a modificação do registro do Windows, com modificação da página inicial e do buscador padrão, também criando botões e novas barras. Em alguns casos, as páginas começam a abrir sem parar na tela do usuário. </p>


            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um sequestrador de navegadores?
            </div>
            <div class="card-body">

             <b class="card-text"> Pense duas vezes antes de fazer o download de qualquer elemento </b>
             <p class="card-text"> Sabemos que pode ser difícil resistir à oferta de download daquele programa de edição de vídeo ou daquele jogo de RPG, mas você realmente confia no website que os oferece? Às vezes, é melhor sair do website e procurar avaliações ou informações sobre ele ou sobre o programa antes de fazer o download ou qualquer instalação. Os downloads são uma das principais formas de infecção por malware. Então, lembre-se de analisar bem os downloads e seus locais de origem. </p>

             <hr>
             <b class="card-text"> Utilize antivírus </b>
             <p class="card-text"> Em seu software de antivírus, acione a opção para detectar Programas Potencialmente Indesejados (PUPs). </p>

             <hr>
             <b class="card-text"> Remoção do sequestrador de navegadores </b>
             <p class="card-text"> Remova qualquer add-on que você instalou recentemente em seu computador. Escaneie em busca por sequestradores de navegador usando uma solução de antivírus confiável. </p>
             
             
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/8QENxHrYFJ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->
        
      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>