<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://cdn.blog.psafe.com/blog/wp-content/uploads/2014/05/o-que-e-trojan-1.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Trojan</h3>
              
              <p class="card-text"> Trojan, também conhecido como cavalo de Troia (em inglês Trojan horse), é um malware que executa ações em um computador criando uma porta para uma possível invasão sem a autorização do usuário. Trata-se de um programa que tem um pacote de vírus e na maioria das vezes é utilizado para se conseguir informações de outros computadores ou executar operações indevidas em diversos dispositivos. Essas instruções são pré-programadas pelos criminosos e depois enviadas como vírus para as vítimas. </p> 

              <p class="card-text"> Um trojan age como a história do Cavalo de Troia, por isso a comparação. As vítimas, na grande maioria das vezes, continuam realizando suas atividades e procedimentos normalmente sem que sintam uma mínima diferença no desempenho do seu computador, mesmo com a ação dos cavalos de Troia. </p>

              <p class="card-text"> Mensagens de e-mail, arquivos de música, anexos, programas duvidosos, sites maliciosos e outros documentos costumam ser os principais disseminadores de trojans na internet. Também, eles estão escondidos em muitos programas que são oferecidos como benéficos para os usuários, levando-os, enganosamente, a baixar arquivos maliciosos. Eles aproveitam-se de algumas brechas e vulnerabilidades existentes nos navegadores para entrarem no computador e instalar as ameaças infestando a máquina da vítima. </p>
              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um Trojan?
            </div>
            <div class="card-body">
              
              <b class="card-text"> Não forneça informações pessoais </b>
              <p class="card-text">Não deve revelar o seu endereço de correio electrónico a pessoas que desconhece; </p>
              <p class="card-text"> Não deve incluir o seu endereço de correio electrónico em grandes listas de endereços na Internet e sites destinados ao anúncio de empregos; </p>
             
            
             <hr>
             <b class="card-text"> Olhe, mas não clique </b>
             <p class="card-text"> Não deve abrir anexos (imagens, ficheiros de áudio, ficheiros de vídeo, etc.) de mensagens de correio electrónico ou instantâneas, a não ser que tenha a certeza do que são e de quem as enviou; </p>

             <hr>
             <b class="card-text"> Tenha cuidado ao executar softwares ou transferir anexos de e-mail</b>
             <p class="card-text"> Não deve executar, transferir ou utilizar software que não seja proveniente de fontes conhecidas e de confiança;  </p>

             <hr>
             <b class="card-text">  Mantenha seu sistema operacional sempre atualizado </b>
             <p class="card-text">Deve manter o sistema operativo e o browser do seu computador atualizado; </p>
             <p class="card-text"> Deve instalar um antivírus e mantê-lo atualizado; </p>
             <p class="card-text"> Deve instalar ou configurar um firewall pessoal. </p>


             <hr>
             <b class="card-text"> Remoção do Spyware </b>
             <p class="card-text"> Se, apesar de todos os cuidados, o seu computador for infectado pare imediatamente de trabalhar e desligue-o da Internet, de modo a interromper o envio de informações para fora. </p>
             <p class="card-text">Faça uma análise com o seu anti-vírus e contacte um centro de assistência técnica, de modo a garantir uma remoção eficaz e segura. </p>

            
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/LRgo4F4HxWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>