<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>
  
  <body >


    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="http://figueiredoeferreira.com.br/wp-content/uploads/2015/05/Crimes-virtuais-envolvendo-adolescentes-Responsabilidades-e-Preven%C3%A7%C3%A3o.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Crime Virtual</h3>
              
              <p class="card-text"> Agora que cada vez mais pessoas estão conectadas à internet por meio de notebooks, smartphones e tablets, o crime virtual é uma ameaça ainda maior, sendo um dos esquemas mais lucrativos do mundo do crime. Existe uma grande variedade de crimes virtuais, podendo ser divididos em duas categorias: crimes isolados, como a instalação de um vírus capaz de roubar seus dados pessoais, e crimes contínuos, como bullying virtual, extorsão, distribuição de pornografia infantil e organização de ataques terroristas. </p>

              <p class="card-text"> O crime virtual difere dos outros tipos de crimes por ser praticado por pessoas que possuem conhecimentos tecnológicos e usam a internet para alcançar seus objetivos desonestos. Os criminosos virtuais empregam suas habilidades diversificadas para acessar contas bancárias, roubar identidades, chantagear, praticar fraudes, perseguir e assediar pessoas. Também podem usar um computador comprometido como parte de uma botnet sofisticada para executar ataques de DDoS em grandes instituições. </p>

              <p class="card-text"> O combate ao crime virtual é tarefa da polícia, de departamentos nacionais de segurança virtual e de empresas que possuam esse objetivo. No entanto, você pode fazer a sua parte e impedir os crimes virtuais eliminando o método mais comum usado neles: o malware. O uso de um antivírus poderoso para escanear seu sistema e remover arquivos perigosos (vírus, spyware e ransomware, entre outros) não apenas garante sua segurança como também impede que os criminosos virtuais ganhem dinheiro, o que geralmente é sua principal motivação. </p>
              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um Crime Virtual?
            </div>
            <div class="card-body">
              
              <b class="card-text"> Só utilize redes Wi-Fi confiáveis </b>
              <p class="card-text"> Lembre-se de que as redes Wi-fi públicas, sejam abertas ou protegidas por senha, podem estar sendo interceptadas. Por isso, é recomendável realizar transações online através de uma rede própria ou de alguém de sua confiança. </p>
             
              <hr>
              <b class="card-text"> Opte por computadores ou dispositivos pessoais protegidos </b>
              <p class="card-text"> Nos casos de transações online, é recomendável o uso de computadores ou dispositivos móveis confiáveis, em especial, para garantir que os dados sensíveis digitados durante a transação não serão interceptados por cibercriminosos que podem ter infectado a máquina. Se há dúvidas sobre o estado do equipamento, realize uma varredura com um software antivírus (nossa melhor sugestão é que você use sistemas operacionais livres). </p>
            
             <hr>
             
             <b class="card-text"> Utilize um antivírus para detectar e bloquear ameaças </b>
             <p class="card-text"> É recomendável manter na máquina um antivírus atualizado e que realize a segurança proativa do equipamento. </p>

             <hr>
             <b class="card-text"> Mantenha o sistema operacional e as aplicações atualizadas </b>
             <p class="card-text"> Manter o software do computador ou dispositivo móvel atualizado é essencial para proteger contra ameaças. Isso porque muitos cibercriminosos aproveitam as vulnerabilidades das versões antigas de sistemas operacionais e aplicações para disseminar códigos maliciosos. </p>

             <hr>
             <b class="card-text"> Opte por sites de e-commerce com boa reputação </b>
             <p class="card-text"> Para evitar problemas com compras online – que vão desde não receber o produto até ter os dados bancários e do cartão clonados – é recomendável optar por realizar transações em sites com boa reputação ou que sejam recomendados por amigos ou parentes. </p>

             <hr>
             <b class="card-text"> Verifique a segurança do site </b>
             <p class="card-text"> Antes de inserir informações sensíveis no site, verifique se o mesmo utiliza o protocolo HTTPS. Pode-se checar isso na barra de endereço, à frente da URL do site. Também pode aparecer um pequeno cadeado ao lado do endereço. </p>

             <hr>
             <b class="card-text"> Prefira cartões de crédito aos de débito </b>
             <p class="card-text">  No caso de ser vítima de um golpe, é mais fácil estornar a transação e receber o dinheiro de volta quando a mesma é realizada com cartões de crédito, especialmente os que possuem seguro. </p>

             <hr>
             <b class="card-text"> Não participe de pesquisas que prometam prêmios e dinheiro </b>
             <p class="card-text"> Muitos sites legítimos realizam pesquisa de satisfação, mas é recomendável não acessar links de pesquisas que prometam recompensa monetária ou prêmios. Nunca forneça também o número de celular em troca de vales-presentes de alto valor oferecidos por sites. </p>

             <hr>
             <b class="card-text"> Não forneça informações pessoais desnecessárias </b>
             <p class="card-text"> Os cadastros dos sites pedem informações pontuais. Mas nunca preencha dados que não sejam relevantes à compra.</p>

             <hr>
             <b class="card-text"> Desconfie de promoções incríveis </b>
             <p class="card-text"> Se uma oferta parece boa demais para ser verdade, provavelmente é, especialmente se for um produto disputado na época. Ofertas assim podem ser tentadoras, mas muitas vezes são chamarizes criados por cibercriminosos ou golpistas. Para evitar ser vítima de um golpe, busque opiniões de outros consumidores que realizaram a compra do produto para verificar se não existem reclamações.</p>

             <hr>
             <b class="card-text"> Confira o movimento dos cartões de crédito e débito utilizados </b>
             <p class="card-text"> Ao utilizar esses meios de pagamento, é aconselhável verificar os movimentos no extrato após a operação, para garantir que tudo ocorreu conforme o esperado. </p>

     
             <b class="card-text"> Proteja-se do Crime Virtual </b>
             <p class="card-text"> Proteger-se do crime virtual pode exigir bastante esforço, mas é uma tarefa que sempre vale a pena. Uma solução simples é adotar hábitos seguros de navegação, evitando downloads estranhos e sites não confiáveis. Além disso, o cuidado com seus detalhes de login e suas informações pessoais também pode deixá-lo um passo à frente dos criminosos virtuais. </p>
           

            
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/or3mNrjTUxA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>

    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>
  

</html>