<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="imagem" src="https://storage.googleapis.com/adm-portal.appspot.com/_assets/modules/noticias/noticia_124163.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Worm</h3>
              
              <p class="card-text"> Um Worm é um programa semelhante aos vírus, com a diferença de este ser auto-replicante, ou seja, ele cria cópias funcionais de si mesmo e infecta outros computadores. Tal infecção pode ocorrer através de conexões de rede locais, Internet ou anexos de emails. Alguns worms infectaram centenas de computadores por meio das redes sociais Instagram e Facebook.  </p>
              <p class="card-text"> Diferente dos vírus comuns, os worms podem se autorreplicar sem a necessidade de infectar arquivos legítimos, criando cópias funcionais de si mesmos. Essas características permitem que os worms se espalhem por redes de computadores e drives USB. Alguns worms também se espalham por mensagens de e-mail, criando anexos maliciosos e os enviando para as listas de contato da conta invadida. </p>
              <p class="card-text"> Após garantir acesso ao sistema, alguns worms procuram patches e atualizações de segurança para fechar as brechas utilizadas pelo mesmo, evitando que outros malwares venham a infectar o sistema utilizando-se da mesma falha, garantindo a exclusividade do worm sobre o sistema. </p>
              
              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text">
              Como evitar um Worm?
            </div>
            <div class="card-body">
              
              <b class="card-text"> Nunca clique em um link ou anexo de algum email sobre o qual você não esteja 100% seguro em relação à origem ou remetente do mesmo </b>
              <p class="card-text"> Se você considerar que o email é suspeito, provavelmente ele é. Não fará mal nenhum enviar um email para certificar-se da autenticidade do mesmo. </p>
             
              <hr>
              <b class="card-text"> Utilize pendrives ou demais dispositivos de armazenamento USB com cautela. </b>
              <p class="card-text"> Conectar o disco USB de outra pessoa em sua máquina, pode começar uma infestação através de seu disco USB, transferindo não apenas o arquivo que você deseja. Sempre que possível, faça a transferência de arquivos por email, descartando a possibilidade de hardwares contaminados nesta equação. </p>
            
             <hr>
             <b class="card-text"> Cuidado com pop-ups na internet </b>
             <p class="card-text"> Isto pode parecer óbvio, mas os que realmente são perigosos são aqueles que são desenvolvidos para aparentar estar partindo do seu próprio sistema operacional Windows. Se você ver um pop-up que aparente ser uma janela do Windows ou de seu Anti-Vírus (ou algum outro programa confiável) que lhe comunique sobre algum problema que precise urgentemente ser resolvido, pode ser um golpe. (Para ter certeza, apenas feche esta janela e abra o seu aplicativo anti-vírus e verifique se o aviso continua lá.) Outros podem lhe reportar um erro e oferecer a solução caso você adquira o software deles. </p>

             <hr>
             <b class="card-text"> Cuidado com emails incomuns de empresas com as quais você não possui alguma relação de negócio. </b>
             <p class="card-text"> Caso você receba um email de alguma destas empresas lhe solicitando informações, ou mesmo que você execute algum arquivo, logue no site desta empresa e verifique se existe alguma notificação neste sentido. Alguns crackers irão tentar conseguir a sua confiança copiando emails legítimos das empresas, utilizando um estilo similar em termos de aparência bem como email de resposta como forma de baixar sua guarda.  </p>

             <hr>
             <b class="card-text"> Instale um programa anti-vírus </b>
             <p class="card-text"> Versões pagas incluem Norton, McAfee, F-Secure e Sophos. Versões gratuitas incluem AVG, Avast, Comodo, BitDefender e o Avira Anti Vir. Certifique-se de manter as suas definições de vírus atualizadas e executar uma verificação completa semanalmente. </p>

             <hr>
             <b class="card-text"> Instale um programa anti-spyware </b>
             <p class="card-text"> Ad-Aware SE, Windows Defender, Malwarebytes e o Spybot Search and Destroy focam em malwares de internet e spywares que geralmente são ignorados pela maioria dos anti-vírus. Assim como os anti-vírus, mantenha-o atualizado e execute uma verificação completa semanalmente. </p>

             <hr>
             <b class="card-text"> Utilize um Firewall </b>
             <p class="card-text"> Mantenha o seu Firewall do Windows habilitado (cheque no Centro de Segurança do Windows nas configurações do mesmo) ou instale algum programa de firewalll confiável para lhe ajudar a bloquear tráfego de internet não desejado. </p>


             <hr>
             <b class="card-text"> Remoção do Worm </b>
             <p class="card-text"> Para remover um worm, simplesmente faça um scan em busca de malware usando um software antivírus. Uma vez os worms são detectados e deletados, seu computador deverá se tornar completamente seguro. </p>
            
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/K5vcz0Foq7M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>