<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/regular.css" integrity="sha384-OEIzojYBMrmz48aIjVQj7VG38613/sxpP58OW9h5zBYC7biGFlv9tyu5kWmaAYlF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/brands.css" integrity="sha384-BCEeiNUiLzxxoeYaIu7jJqq0aVVz2O2Ig4WbWEmRQ2Dx/AAxNV1wMDBXyyrxw1Zd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">
    <script src=“//platform-api.sharethis.com/js/sharethis.js#property=&product=inline-share-buttons”></script>
  </head>

  
  <body>



<div class="f">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i65.tinypic.com/2j67b6h.png" width="120" height="80" alt="">PROTEJA.SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>
                   <a class="dropdown-item" href="/crimes/teste">TESTE</a>


                  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

</span>

   
        <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          
          </div>
        </div>
      </div>
    </header>

<div class="sharethis-inline-share-buttons"></div>

        <!--/ ABOUT SECTION -->   
    <section id="about" class="about-wrapper">
        <div class="container">
                    <div data-scroll-reveal="enter from the bottom after 0.3s" class="title text-center">
                        <h2>SOBRE</h2>
                        <p>CONHEÇA NOSSO APLICATIVO</p>
                        <hr>
                    </div><!-- end title -->

                    <div class="ro text-center">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.4s" class="about-box">
                            <div class="about-border"> <i class="fas fa-tablet-alt aligncenter"></i></div>
                            <h3>Mapeamento</h3>
                            <p> Quer descobrir se você sofreu algum tipo de crime digital!! Faça mapeamento em nosso app, e descubra de forma rápida e segura.</p>
                        </div>
                    </div><!-- end column -->
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border"> <i class="fab fa-android aligncenter"></i></div>
                                <h3>App Proteja.se</h3>
                                <p>Aplicativo feito para ajudar você usuário a se manter atualizado e adquirir conhecimento dos principais crimes digitais.</p>
                        </div>
                    </div><!-- end column -->
            
                    
            
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border "> <i class="far fa-newspaper aligncenter"></i></div>
                                <h3>News</h3>
                                <p>Quer ficar por dentro dos crimes digitais que ocorre pelo mundo!! O Proteja.se fez um news especialmente para você.</p>
                        </div>
                    </div><!-- end column -->

            </div><!-- end row -->

        </div><!-- end container -->



              <div class="clearfix">
              <div class="widget-wrapper">
      <div class="container">
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <div class="widget ">
                  <h3>Você sabia que o perigo está mais próximo do que imagina?</h3>
                    <p>No estudo realizado pelo Telecommunications Research Group, para a Microsoft Corporation, 
                    o Brasil ficou na 13ª posição no que diz respeito à exposição a riscos digitais, com um ICD (Índice de Cidadania Digital) de 71%. Um dos pontos que mais chamaram a atenção foi o fato de que em 30% dos casos ocorridos no Brasil, as vítimas de crimes cibernéticos tinham contato pessoal com o responsável, contra 36% no mundo, e 57% das pessoas conheciam o algoz de alguma maneira, presencial ou virtualmente como aquele amigo no facebook. 
                    Entre os riscos online mais comuns, os contatos indesejados lideram a lista, mencionados por 51% dos entrevistados. Solicitações envolvendo sexo vêm em segundo lugar, enquanto 21% afirmaram ter sofrido algum tipo de fraude.<a href="/crimes/virtuais"> consulte Mais </a> </p>
                   
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
            
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <div class="widget">
                  <h3>GRAFICO DOS CRIMES</h3>
                    <div id="skills" class="skills_bar">
                        <small>CONTATOS INDESEJADOS</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100" style="width: 51%;">
                            <span class="skill_count">51%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>SOLICITAÇÕES SEXUAIS</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;">
                            <span class="skill_count">23%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>FRAUDES</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%;">
                            <span class="skill_count">21%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>ASSÉDIO ONLINE (NÃO SEXUAL)</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                            <span class="skill_count">20%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>COMPARTILHAMENTO DE DADOS PRIVADOS</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11%;">
                            <span class="skill_count">11%</span>
                            </div>
                        </div><!-- end progress -->
                    </div><!-- end skills_bar -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
    </div><!-- end container -->
    </div>
    </section><!-- End About Section -->








      </div>

    </div>

</div>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>

      </div>

       <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="ti-plus"></i>
  </a>
  </div>
      <!-- /.container -->
    </footer>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-sm hidden" id="mini-fab">
        <a href="#" class="btnn btn-warning btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Other" title="" id="autre">
            <svg style="width:10px;height:10px" viewBox="0 0 24 24">
              <i class="fas fa-angle-up"></i>
            </svg>
          
        </a>
       
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

<style>
    .dropdown:hover>.dropdown-menu{
      display: block;
    }
</style>

</div>

</body>
  

</html>

